<form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="emailid" name="email" class="form-control"/>
      <label class="form-label" for="password">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password" class="form-control" name="password"/>
      <label class="form-label" for="password">Password</label>
    </div>
  
    <!-- Submit button -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-block mb-4 mx-auto" id="fetchData">
        Login
      </button>
    </div>
  </form>